{% load static wagtailuserbar %}
{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/eduvibe-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/magnifypopup.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/odometer.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jqueru-ui-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body class="container-fluid">
    <!--Contact Us fIXED-->
    <div>
        <a class="" href="tel:+201007450312"
            style="position: fixed;bottom: 30px;left: 21px;background: #2264fc;padding: 0;border-radius: 54px;z-index: 1999;text-align: center;width: 60px;height: 60px;box-shadow: -1px 2px 8px #00000000;">
            <img src="{% static 'images/messenger.svg' %}" class="fab fa-whatsapp"
                style="width: 33px;position: relative;top: 14px;">
        </a>
        <a class="" href="https://wa.me/+201007450312"
            style="position: fixed;bottom: 110px;left: 21px;background: #4caf50;padding: 0;border-radius: 54px;z-index: 1999;text-align: center;width: 60px;height: 60px;box-shadow: -1px 2px 8px #00000000;">
            <img src="{% static 'images/whatsapp.svg' %}" class="fab fa-whatsapp "
                style="width: 33px;position: relative;top: 14px;">
        </a>
    </div>
    <!--Contact Us fIXED-->
    <div class="main-wrapper">
        <header class="edu-header header-sticky header-transparent header-style-2 header-default">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col">
                        <div class="logo">
                            <a href="/"> <img class="logo-light" src="{% static 'images/logo/logo.png' %}"
                                    alt="Site Logo"> </a>
                        </div>
                    </div>
                    <div class="col-lg-9 d-none d-xl-block">
                        <nav class="mainmenu-nav d-none d-lg-block">
                            <ul class="mainmenu">
                                <li><a href="/#intro">Intro</a></li>
                                <li><a href="/#About">About Us</a></li>
                                <li><a href="/#Why">Why Us</a></li>
                                <li><a href="/#Pricing">Pricing</a></li>  
                                <li><a href="/#Parents">Parents</a></li>
                                <li><a href="/#Features">Features</a></li>
                                <li><a href="/#Testimonials">Testimonials</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-8 col-xl-2 col-md-6 col-8">
                        <div class="d-flex justify-content-evenly ">
                            <div class="header-menu-bar">
                                <div class="quote-icon quote-user d-none d-md-block ml--15 ml_sm--5"> <a
                                        class="edu-btn btn-medium header-purchase-btn"
                                        href="/#LandingFrom">Registration</a> </div>
                            </div>
                            <div class="mobile-menu-bar ml--15 ml_sm--5 d-block d-xl-none">
                                <div class="hamberger" style=" display: inline-block; margin-left: 10px; "> <button
                                        class="white-box-icon hamberger-button"> <i class="ri-menu-line"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                        <a href="/"> <img src="{% static 'images/logo/logo.png' %}" alt="Site Logo"> </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button"> <i class="ri-close-line"></i> </button>
                    </div>
                </div>
                <ul class="mainmenu">
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#About">About Us</a></li>
                    <li><a href="#Why">Why Us</a></li>
                    <li><a href="#Pricing">Pricing</a></li>
                    <li><a href="#Parents">Parents</a></li>
                    <li><a href="#Features">Features</a></li>
                    <li><a href="#Testimonials">Testimonials</a></li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        <footer class="eduvibe-footer-one edu-footer footer-style-default">
            <div class="footer-top">
                <div class="container eduvibe-animated-shape">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 ">
                            <div class="edu-footer-widget">
                                <div class="logo">
                                    <a href="/"> <img class="logo-light" src="{% static 'images/logo/logo.png' %}"
                                            alt="Site Logo"> </a>
                                </div>
                                <p class="description">Get In Touch</p>
                                <div class="widget-information">
                                    <ul class="information-list">
                                        <li><i class="icon-phone-fill"></i><a href="tel:+1(237)382-2839">+ 20 100 745 0312</a>
                                        </li>
                                        <li><i class="icon-mail-line-2"></i><a target="_blank"
                                                href="mailto:yourmailaddress@example.com">info@3cschool.net</a></li>
                                    </ul>
                                </div>
                                <ul class="social-share text-center">
                                    <li><a href="#"><i class="icon-Fb"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-Pinterest"></i></a></li>
                                    <li><a href="#"><i class="icon-Twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area pt-5 copyright-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <p>Copyright 2022 <a href="#">3C</a> . All Rights Reserved Powered by <a
                                        href="https://boldbrand.co">Bold Brand</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/sal.min.js' %}"></script>
    <script src="{% static 'js/vendor/backtotop.js' %}"></script>
    <script src="{% static 'js/vendor/magnifypopup.js' %}"></script>
    <script src="{% static 'js/vendor/slick.js' %}"></script>
    <script src="{% static 'js/vendor/countdown.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-appear.js' %}"></script>
    <script src="{% static 'js/vendor/odometer.js' %}"></script>
    <script src="{% static 'js/vendor/isotop.js' %}"></script>
    <script src="{% static 'js/vendor/imageloaded.js' %}"></script>
    <script src="{% static 'js/vendor/lightbox.js' %}"></script>
    <script src="{% static 'js/vendor/wow.js' %}"></script>
    <script src="{% static 'js/vendor/paralax.min.js' %}"></script>
    <script src="{% static 'js/vendor/paralax-scroll.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendor/tilt.jquery.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    </body>
    
    </html>