{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags %}
{% block body %}

<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </div>
    </div><!-- End Breadcrumbs -->
  <!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
      <div class="container blog" data-aos="fade-up">

        <div class="row entry">
          <div class="col-lg-12 entry-content">
            {% if page.header_image %}
            {% image page.header_image original as header_image %}
                <img src="{{ header_image.url }}" alt="" class="img-fluid">
            {% endif %}
            <h3>{{ page.title }}</h3>
            <p>
            {% for block in page.body %}
            {% include_block block %}
            {% endfor %}
            </p>
          </div>
          <div class="entry-footer">
            {% with categories=page.categories.all %}
            {% if categories %}
              <i class="bi bi-folder"></i>
              <ul class="cats">
                {% for category in categories %}
                <li><a href="{% routablepageurl courses_page 'post_by_category' category.slug %}">{{ category.name }}</a></li>
                 {% endfor %}
              </ul>
            {% endif %}
            {% endwith %}
            {% if page.tags.all.count %}
              <i class="bi bi-tags"></i>
              <ul class="tags">
                {% for tag in page.tags.all %}
                  <li><a href="{% routablepageurl courses_page 'post_by_tag' tag.slug %}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        <div class="mt-5 mb-5" id="disqus_thread" dir="ltr"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function() {
        this.page.url = "https://vitamin-d-ossofortin.com{% pageurl page %}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{% pageurl page %}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://ossofortin.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
    </section><!-- End Cource Details Section -->
{% endblock %}
