{% extends "base.html" %}
{% load wagtailcore_tags wagtailuserbar wagtailroutablepage_tags wagtailimages_tags static widget_tweaks %}
{% block body %}
{% wagtailuserbar 'bottom-left' %}
        <!-- Start Sldier Area  -->
        {% for block in page.body_divs %}
        {% if block.block_type == 'landing_banner' %}
        <div class="slider-area eduvibe-landing-banner bg-image" id="intro">
            <div class="d-flex align-items-center height-800">
                <div class="container eduvibe-animated-shape">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="inner">
                                <div class="content text-start">
                                    <h1 class="title" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">{{ block.value.title }}</h1>
                                    <p data-sal-delay="200" data-sal="slide-up" data-sal-duration="800" class="hero-text">
                                        {{ block.value.description }}
                                    </p>
                                    <div class="btn-group-vertical" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800"> 
                                        <a class="edu-btn left-button" href="#LandingFrom"> 
                                            Book Now <i class="icon-arrow-right-line-right"></i>
                                        </a> 
                                        <a class="edu-btn bg-white right-button" href="tel:+201007450312">
                                            +20 100 745 0312 <i class="icon-arrow-right-line-right"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-image" style="margin: auto;">
                                <div class="banner-main-image">
                                    {% if block.value.hero_image %}
                                    {% image block.value.hero_image max-480x480 as hero_image %}
                                    <img width="img" class="landing-banner-hero-img" src="{{ hero_image.url }}" alt="Coding For Kids" />
                                    {% else %}
                                    <img width="img" class="landing-banner-hero-img" src="{% static 'images/bg3cs.png' %}" alt="Coding For Kids" /> 
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- End Sldier Area  -->
        <!-- Start Video Area  -->
        <div class="eduvibe-home-four-video about-us edu-video-area edu-section-gap video-style-2" id="About">
            <div class="container eduvibe-animated-shape">
                <div class="content mt_md--40 ">
                    <div class="section-title mob-text" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">About Us</span>
                        <h3 class="title">Explore Our Journey</h3>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="pr--75 pr_lg--30 pr_md--0 pr_sm--0">
                            <div class="thumbnail video-popup-wrapper"> <img class="radius-small" src="{% static 'images/about.jpg' %}" alt="Video PopUp Thumb">
                                <a href="https://www.youtube.com/watch?v=GbmmVTyUwXo" class="video-play-btn with-animation position-to-top video-popup-activation color-secondary size-80"> <span class="play-icon"></span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content mob-hide mt_md--40 ">
                            <div class="section-title text-start" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">About Us</span>
                                <h3 class="title">Explore Our Journey</h3>
                            </div>
                            <p class="description mt--40 mb--40  mt_sm--20" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, venenatis dictum et nec. Fringilla dictum tristique cras pellentesque consequat. Learners on around the launching new careers.</p>
                            <div class="read-more-btn text-start" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <a class="edu-btn" href="#LandingFrom">Apply Now<i class="icon-arrow-right-line-right"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="shape-dot-wrapper shape-wrapper d-xl-block d-none"> </div>
            </div>
        </div>
        <!-- End Video Area  -->
        <!---->
        <div class="eduvibe-home-five-about edu-about-area about-style-6 edu-section-gap eduvibe-landing-banner " id="Features">
            <div class="container eduvibe-animated-shape">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class=""> <img class="image-1 w-100" src="{% static 'images/certificate.jpg' %}" alt="About Images">
                            <div class="badge-icon"> </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 offset-xl-1">
                        <div class="inner mt_md--40 mt_sm--20">
                            <div class="section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">Our Feather</span>
                                <h3 class="title">Your Child Not Just A User</h3>
                            </div>
                            <p class="description line-before mt--40 mb--40 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> </p>
                            <div class="feature-list-wrapper sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Raising your child's
                                    <br>passion to love programming
                                </div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Explore future careers </div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Helping them to develop 21st Century Skills </div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Problem-Solving</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Technical Guide</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Critical Thinking</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Teamwork and Creative thinking </div>
                            </div>
                            <div class="read-more-btn mt--75 mt_lg--30 mt_md--40 mt_sm--40 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <a class="edu-btn" href="#LandingFrom">Book free trial<i class="icon-arrow-right-line-right"></i></a> <a class="info-btn" href="tel:+201007450312"><i class="icon-call"></i>+2010 0745 0312</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="edu-brand-area teches edu-section-gap bg-color-white edu-line-separator">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row eduvibe-home-five-brands text-center">
                            <div class="col-lg-2 col-md-4 col-6 ">
                                <img class="logo-main" width="120" src="{% static 'images/icons/tech/01.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <img class="logo-main" width="120" src="{% static 'images/icons/tech/02.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <img class="logo-main" width="120" src="{% static 'images/icons/tech/03.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <img class="logo-main" width="120" src="{% static 'images/icons/tech/04.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6 ">
                                <img class="logo-main" width="120" src="{% static 'images/icons/tech/05.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                            <div class="col-lg-2 col-md-4 col-6">
                                <img class="logo-main" width="120" width="120" src="{% static 'images/icons/tech/06.png' %}" alt="Brand Images">
                                <h6 class="text-center font-bold pt-3">Tech Name</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="eduvibe-home-five-progress work-section edu-service-area edu-section-gap ">
            <!-- Start Service Area  -->
            <div class="container eduvibe-animated-shape">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">What We Offer</span>
                            <h3 class="title">How Does 3C Work?</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt--20">
                    <!-- Start Service Grid  -->
                    <div class="service-card-single col-lg-4 col-md-4 col-4 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-7 shape-bg-1">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icon-book-line"></i>
                                </div>
                                <div class="content">
                                    <h6 class="title">Choose Any Plan</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->
                    <!-- Start Service Grid  -->
                    <div class="service-card-single second-child col-lg-4 col-md-4 col-4 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-7 shape-bg-2">
                            <div class="inner">
                                <div class="icon"><i class="icon-shopping-basket-2-line"></i></div>
                                <div class="content">
                                    <h6 class="title">Purchase Your Course</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->
                    <!-- Start Service Grid  -->
                    <div class="service-card-single col-lg-4 col-md-4 col-4 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-7 shape-bg-3">
                            <div class="inner">
                                <div class="icon"><i class="icon-trophy-line"></i></div>
                                <div class="content">
                                    <h6 class="title">Great! Start Learn</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->
                    <div class="col text-center">

                        <img src="{% static 'images/stem.jpg' %}" width="190">
                    </div>
                </div>

            </div>
            <!-- End Service Area  -->
        </div>
        <!---->
        <div class="eduvibe-home-five-about why-join edu-about-area about-style-6 edu-section-gap bg-color-white" id="Why">
            <div class="container eduvibe-animated-shape">
                <div class="row g-5 align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="banner-custom"> <img class="image-1 w-100" src="{% static 'images/about-image-09.jpg' %}" alt="About Images">
                            <div class="badge-icon"> </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 offset-xl-1">
                        <div class="inner mt_md--40 mt_sm--20">
                            <div class="section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">Why Us</span>
                                <h3 class="title">Why Join 3C ?</h3>
                            </div>
                            <p class="description line-before mt--40 mb--40 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.</p>
                            <div class="feature-list-wrapper sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Simplified Content</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Expert instructors</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Quality</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Continuity</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Technical Guide</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Customer Care</div>
                            </div>
                            <div class="read-more-btn mt--75 mt_lg--30 mt_md--40 mt_sm--40 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <a class="edu-btn" href="#LandingFrom">Book free trial<i class="icon-arrow-right-line-right"></i></a> <a class="info-btn" href="tel:+201007450312"><i class="icon-call"></i>+2010 0745 0312</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="edu-workshop-area eduvibe-home-three-video workshop-style-1 edu-section-gap bg-image bg-color-primary" id="Student">
            <div class="container eduvibe-animated-shape">
                <div class="row gy-lg-0 gy-5 row--60 align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="workshop-inner">
                            <div class="section-title text-white sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">Student</span>
                                <h3 class="title">Meet Our Student</h3>
                            </div>
                            <p class="description sal-animate" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, consect adipi scing elit, sed do eiusmod tempor incididunt ut sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>
                            <div class="read-more-btn sal-animate" data-sal-delay="350" data-sal="slide-up" data-sal-duration="800"> <a class="edu-btn btn-white" href="#LandingFrom">More Upcomming Workshop<i class="icon-arrow-right-line-right"></i></a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="thumbnail video-popup-wrapper"> <img class="radius-small w-100" src="{% static 'images/video-popup-bg-02.jpg' %}" alt="About Image">
                            <a href="https://www.youtube.com/watch?v=pNje3bWz7V8" class="video-play-btn with-animation position-to-top video-popup-activation color-secondary size-60"> <span class="play-icon"></span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="edu-pricing-area eduvibe-pricing-plan-page edu-section-gap bg-image bg-image--26" id="Pricing">
            <div class="container eduvibe-animated-shape">
                <div class="row g-5">
                    <div class="col-lg-6 col-md-6">
                        <div class="section-title text-start sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">Pricing Plan</span>
                            <h3 class="title">Choose Your Pricing Plan</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt--20">
                    <!-- Start Pricing Table  -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                <h3 class="title">Basic Plan</h3>
                                <div class="price-wrap">
                                    <div class="yearly-pricing"> <span class="amount">999 </span> <span class="duration">EGP/Month</span><br><span style="text-decoration-line: line-through; font-size: 20px">12000 EGP</span> </div>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-item">
                                    <li><i class="icon-checkbox-circle-line"></i> Unlimited Access Courses</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Certificate After Completion</li>
                                    <li><i class="icon-checkbox-circle-line"></i> 24/7 Dedicated Support</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Interactive practice sessions</li>
                                </ul>
                            </div>
                            <div class="pricing-btn"> <a class="edu-btn btn-dark" href="#LandingFrom">Apply Now<i class="icon-arrow-right-line-right"></i></a> </div>
                        </div>
                    </div>
                    <!-- End Pricing Table  -->
                    <!-- Start Pricing Table  -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="pricing-table active">
                            <div class="pricing-header">
                                <div class="edu-badge"><span>Popular</span></div>
                                <h3 class="title">Quarter Plan</h3>
                                <div class="price-wrap">
                                    <div class="yearly-pricing"> <span class="amount">2200 </span> <span class="duration">EGP/ 3 Month</span><br><span style="text-decoration-line: line-through; font-size: 20px">12000 EGP</span> </div>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-item">
                                    <li><i class="icon-checkbox-circle-line"></i> Unlimited Access Courses</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Certificate After Completion</li>
                                    <li><i class="icon-checkbox-circle-line"></i> 24/7 Dedicated Support</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Interactive practice sessions</li>
                                </ul>
                            </div>
                            <div class="pricing-btn"> <a class="edu-btn btn-dark" href="#LandingFrom">Apply Now<i class="icon-arrow-right-line-right"></i></a> </div>
                        </div>
                    </div>
                    <!-- End Pricing Table  -->
                    <!-- Start Pricing Table  -->
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="pricing-table">
                            <div class="pricing-header">
                                <h3 class="title">Annual Plan</h3>
                                <div class="price-wrap">
                                    <div class="yearly-pricing"> <span class="amount">6000 </span> <span class="duration">EGP/Year</span>
                                        <br><span style="text-decoration-line: line-through; font-size: 20px">12000 EGP</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-item">
                                    <li><i class="icon-checkbox-circle-line"></i> Unlimited Access Courses</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Certificate After Completion</li>
                                    <li><i class="icon-checkbox-circle-line"></i> 24/7 Dedicated Support</li>
                                    <li><i class="icon-checkbox-circle-line"></i> Interactive practice sessions</li>
                                </ul>
                            </div>
                            <div class="pricing-btn"> <a class="edu-btn btn-dark" href="#LandingFrom">Apply Now<i class="icon-arrow-right-line-right"></i></a> </div>
                        </div>
                        <!-- End Pricing Table  -->
                    </div>
                </div>
            </div>
        </div>
       {% if form.visible_fields %}
        <div class=" bg-color-white mt-5 " id="LandingFrom" style="padding-top: 100px;">
            <div class="container">
                <div class="row row--35 justify-content-center">
                    <div class="col-lg-9 ">
                        <div class="checkout-page-style">
                            <h3 class="title">{{ page.form_title }}</h3>
                            <p>{{ page.body|richtext }}</p>
                            <form class="checkout-form" action="{% pageurl page %}" method="POST" id="checkout-form">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                <div class="row alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="row">
                                    {% for field in form.visible_fields %}
                                    {% if field.field.choices %}
                                    <div class="payment-details mt--50">
                                        <h3 class="title">{{ field.label }}</h3>
                                        <div class="col-lg-12 d-flex">
                                            {% for radio in field %}
                                            <div class="comment-form-consent input-box">
                                                <input id="{{ radio.id_for_label }}" type="radio" name="{{ field.html_name }}" style="display: none;" value="{{radio.choice_label}}">
                                                <label for="{{ radio.id_for_label }}" style="font-size: 26px;text-align: center;font-weight: bold;">{{radio.choice_label}}</label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% if field.errors %}
                                        <div class="row alert alert-danger m-4" role="alert">{{ field.errors }}</div>
                                        {% endif %}
                                    </div>
                                    {% else %}
                                    <div class="col-lg-6">
                                        <div class="input-box mb--20">
                                            {% render_field field class+="form-control" placeholder=field.label%}
                                            {% if field.errors %}
                                            <div class="row alert alert-danger m-4" role="alert">{{ field.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <div class="col-md-12">
                                        <div class="cart-summary-button-group">
                                            <a class="edu-btn w-100 text-center" href="javascript:{}" onclick="document.getElementById('checkout-form').submit();">{{ page.submit_button }}
                                                <i class="icon-arrow-right-line-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="eduvibe-home-three-event edu-event-area bg-color-white edu-section-gap" id="Parents">
            <div class="container eduvibe-animated-shape">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">Parents</span>
                            <h3 class="title">Our Happy Parents</h3>
                        </div>
                    </div>
                </div>
                <div class="row g-5 mt--20">
                    <!-- Start Event Grid   -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-grid-1 bg-shade radius-small">
                            <div class="inner">
                                <div class="thumbnail video-popup-wrapper"> <img class="radius-small" src="{% static 'images/MohamedAbdallah.jpg' %}" alt="Video PopUp Thumb">
                                    <a href="https://www.youtube.com/watch?v=yjEFLT2eZzE" class="video-play-btn with-animation position-to-top video-popup-activation color-secondary size-80"> <span class="play-icon"></span> </a>
                                </div>
                                <div class="content">
                                    <h5 class="title">Mohamed Abdallah
                                    </h5>
                                    <ul class="event-meta">
                                        <li>Omar's Dad</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid   -->
                    <!-- Start Event Grid   -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-grid-1 bg-shade radius-small">
                            <div class="inner">
                                <div class="thumbnail video-popup-wrapper"> <img class="radius-small" src="{% static 'images/video2.jpg' %}" alt="Video PopUp Thumb">
                                    <a href="https://www.youtube.com/watch?v=N-7OrdSIpRs" class="video-play-btn with-animation position-to-top video-popup-activation color-secondary size-80"> <span class="play-icon"></span> </a>
                                </div>
                                <div class="content">
                                    <h5 class="title">Lorem Ipsum
                                    </h5>
                                    <ul class="event-meta">
                                        <li>Omar's Dad</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid   -->
                    <!-- Start Event Grid   -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-event event-grid-1 bg-shade radius-small">
                            <div class="inner">
                                <div class="thumbnail video-popup-wrapper"> <img class="radius-small" src="{% static 'images/MohamedHalawa.jpg' %}" alt="Video PopUp Thumb">
                                    <a href="https://www.youtube.com/watch?v=W46RRLUFEfo" class="video-play-btn with-animation position-to-top video-popup-activation color-secondary size-80"> <span class="play-icon"></span> </a>
                                </div>
                                <div class="content">
                                    <h5 class="title">Mohamed Halawa
                                    </h5>
                                    <ul class="event-meta">
                                        <li>Ammar's Dad</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Event Grid   -->
                </div>
            </div>
        </div>
        <!---->
        <!---->
        <!-- Start Testimonial Area  -->
        <div class="eedu-testimonial-area eduvibe-home-two-testimonial  testimonial-card-box-bg edu-section-gap position-relative " style=" background-color: #00aeef1a !important; " id="Testimonials">
            <div class="container eduvibe-animated-shape">
                <div class="row g-5">
                    <div class="col-lg-12">
                        <div class="section-title text-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800"> <span class="pre-title">TESTIMONIALS</span>
                            <h3 class="title">Our Lovely Clients Feedback</h3>
                        </div>
                    </div>
                </div>
                <div class="edu-testimonial-activation testimonial-item-3 mt--40 edu-slick-button">
                    <!-- Start Tastimonial Card  -->
                    <div class="testimonial-card-box">
                        <div class="inner">
                            <div class="client-info">
                                <div class="thumbnail"> <img src="{% static 'images/testimonial/testimonial-04/client-03.png' %}" alt="Client Images"> </div>
                                <div class="content">
                                    <h6 class="title">Islam Khairy</h6> <span class="designation">Web Developer</span>
                                </div>
                            </div>
                            <p class="description">“ There are many variations of passages of Lorem Ipsum available, but the majority on have suffered alteration in some form, by a injected humour, or randomised. ”</p>
                            <div class="rating"> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> </div>
                        </div>
                    </div>
                    <!-- End Tastimonial Card  -->
                    <!-- Start Tastimonial Card  -->
                    <div class="testimonial-card-box">
                        <div class="inner">
                            <div class="client-info">
                                <div class="thumbnail"> <img src="{% static 'images/testimonial/testimonial-04/client-06.png' %}" alt="Client Images"> </div>
                                <div class="content">
                                    <h6 class="title">Abdou Mohamed</h6> <span class="designation">UI/UX Designer</span>
                                </div>
                            </div>
                            <p class="description">“ There are many variations of passages of Lorem Ipsum available, but the majority on have suffered alteration in some form, by a injected humour, or randomised. ”</p>
                            <div class="rating"> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> </div>
                        </div>
                    </div>
                    <!-- End Tastimonial Card  -->
                    <!-- Start Tastimonial Card  -->
                    <div class="testimonial-card-box">
                        <div class="inner">
                            <div class="client-info">
                                <div class="thumbnail"> <img src="{% static 'images/testimonial/testimonial-04/client-02.png' %}" alt="Client Images"> </div>
                                <div class="content">
                                    <h6 class="title">Islam Khairy</h6> <span class="designation">Web Developer</span>
                                </div>
                            </div>
                            <p class="description">“ There are many variations of passages of Lorem Ipsum available, but the majority on have suffered alteration in some form, by a injected humour, or randomised. ”</p>
                            <div class="rating"> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> </div>
                        </div>
                    </div>
                    <!-- End Tastimonial Card  -->
                    <!-- Start Tastimonial Card  -->
                    <div class="testimonial-card-box">
                        <div class="inner">
                            <div class="client-info">
                                <div class="thumbnail"> <img src="{% static 'images/testimonial/testimonial-04/client-05.png' %}" alt="Client Images"> </div>
                                <div class="content">
                                    <h6 class="title">Khaled Hsanen</h6> <span class="designation">Digital Marketer</span>
                                </div>
                            </div>
                            <p class="description">“ There are many variations of passages of Lorem Ipsum available, but the majority on have suffered alteration in some form, by a injected humour, or randomised. ”</p>
                            <div class="rating"> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> <i class="on icon-Star"></i> </div>
                        </div>
                    </div>
                    <!-- End Tastimonial Card  -->
                </div>
            </div>
        </div>
        <!-- End Testimonial Area  -->
        <!---->
{% endblock %}